.container {
 height: 100%;
 width: 100%;
 position: fixed;
}

.video {
 overflow: hidden;
 padding-bottom: 56.25%;
 position: relative;
 width: 100%;
 height: 0;
}

.video iframe {
 top: 45%;
 left: 50%;
 transform: translate(-50%, -50%);
 position: absolute;
 height: 65%;
 width: 65%;
 border: 0;
}